DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_nestjs

#nestjs
PORT=3000
CLAVE_JWT=987654321
EXPIRACION_JWT=8h
CLAVE_ENCRIPTACION=987654321

URL_FRONTEND=http://localhost:5173/
NODE_ENV=development  # production
